.header
{
    height: 9%;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 0px;
    color: aliceblue;
    align-items: left;
    position: sticky;
}
.section1{
    display: flex;
    height: 80%;
    width: 30%;
    align-items: center;
    justify-content: flex-start;
    
}
.section1>div>i
{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo
{
    height: 80px;
    width: 150px;
}
.logo>img
{
    height: 100%;
    width: 100%;
}
.Location-content
{
        height: 100%;
        font-size: x-large;
        width: 35%;
        text-align: center;  
        display: flex;
        font-family: Georgia, Times, 'Times New Roman', serif;
        justify-content:center ;
}
.section2
{ 
        height: 200%;
        width: 40%;
        display: flex;
        padding: 16px;
        align-items: center;
        justify-content:  center;
        flex-direction: column;
    
    
      
          
}

.searchbox
{
    height: 100%;
    width: 100%;  
  
}
  
.section2>.searchbox>i {
    
    right: 80px;
    top: 100px;
    cursor: pointer;
    

  }
  
.section2>.searchbox>input
{
   height: 40px;
   width: 400px;
   border-radius: 40px;
   border-color: black;  
}

.section3
{
    
    width:30% ;
    height: 65%;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
.Signin>button
{
    height: 100%;
    width: 100%;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgoldenrod;
}
.section3>i
{
    cursor: pointer;
    height: 100%;
}
.section3>img
{
    cursor: pointer;
    padding: 10px;
    width: 56px;
    height: 56px;
}

